.form {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.inputWrapper {
  display: block;
  margin-right: 20%;
  min-width: 360px;
  max-width: 500px;
}

.inputTitle {
  display: block;
  margin-bottom: 6px;
}

.inputWrapper input,
.inputWrapper textarea {
  padding: 8px 6px;
  font-size: 1em;
  color: #777;
  width: 100%;
  box-sizing: border-box;
  border: 1px solid #ddd;
  border-radius: 4px;
}
.inputWrapper textarea {
  min-height: 160px;
  resize: vertical;
}
