.container {
  background: white;
  width: 200px;
  padding: 30px;
}

.container h2 {
  font-size: 1.2em;
  color: var(--primary-color);
  text-align: right;
  margin-bottom: 30px;
  line-height: 45px;
  border-bottom: 1px solid var(--primary-color);
}

.contentWrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.content {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 10px;
}

.content {
  font-style: italic;
}