.overlay {
  width: 100%;
  height: 100%;
  z-index: 1;
  position: fixed;
  left: 0;
  top: 0;
}

.contained {
  
}
.overlay.colored .text {
  color: white;
}

.container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.text {
  position: absolute;
}

.loading {
  position: relative;
  border-radius: 100%;
  width: 50%;
  max-width: 500px;
  margin: 0 auto;
  height: 100px;
}

.dot {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  animation: slide-left 3s infinite ease-in-out;
}

.dot:before {
  content: '';
  display: block;
  width: 25px;
  height: 25px;
  background: var(--primary);
  border-radius: 100%;
  animation: fade-grow 3s infinite ease-in-out;
}

.dot:nth-child(1) {
  animation-delay: -1s;
}
.dot:nth-child(2) {
  animation-delay: -0.9s;
}
.dot:nth-child(3) {
  animation-delay: -0.8s;
}
.dot:nth-child(4) {
  animation-delay: -0.7s;
}
.dot:nth-child(5) {
  animation-delay: -0.6s;
}
.dot:nth-child(6) {
  animation-delay: -0.5s;
}

.dot:nth-child(1):before {
  animation-delay: -1s;
}
.dot:nth-child(2):before {
  animation-delay: -0.9s;
}
.dot:nth-child(3):before {
  animation-delay: -0.8s;
}
.dot:nth-child(4):before {
  animation-delay: -0.7s;
}
.dot:nth-child(5):before {
  animation-delay: -0.6s;
}
.dot:nth-child(6):before {
  animation-delay: -0.5s;
}

@keyframes slide-left {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(100%);
  }
}

@keyframes fade-grow {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  20% {
    transform: scale(0.5);
    opacity: 0.5;
  }
  50% {
    transform: scale(1);
    opacity: 1;
  }
  80% {
    transform: scale(0.5);
    opacity: 0.5;
  }
  100% {
    transform: scale(0);
    opacity: 0;
  }
}
